@*@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<ProjektNeve.Dnn.Dnn_ProjektNeve_HelloWorld.Models.Item>>*@
@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers




<div class="dnnForm">
    <h2>Teljeskörű könyvelés</h2>
    <p>Sikeresen átnavigáltál a könyvelési modulba!</p>

    <div class="dnnActions">
        <a href="@Url.Action("Index", "Item")" class="btn dnnSecondaryAction">Vissza a választóhoz</a>
    </div>
</div>